In [ ]:
firstname="Nanthiesh"
firstname.lastname="devil"

In [2]:
firstname

[1] "Nanthiesh"

In [3]:
score=6969

In [4]:
##class is used to check the type of variable
class(firstname)
class(score)

[1] "character"

[1] "numeric"

In [5]:
name="Mathew"
Dept="AIML"
paste(name,Dept) ##paste is used for printing more than two values

[1] "Mathew AIML"

In [6]:
##print is used to print only one value.
print(name)

[1] "Mathew"

In [7]:
##readline is used to get input from the user:
## Assignment Operator:   = (or) <-

d<-readline("Enter the Value: ")

Enter the Value: 123

In [8]:
class(d)

[1] "character"

In [9]:
## converting datatype into another datatype using "as"
d=as.integer(d)

In [10]:
class(d)

[1] "integer"

In [11]:
d=as.numeric(d)

In [12]:
class(d)

[1] "numeric"

In [13]:
paste("The value of d is: ",d)

[1] "The value of d is:  123"

In [14]:
# to find the area of donut:
# formula: πr2. 2πR

pi<-3.14
r<-readline("Enter the value of r: ")

Enter the value of r: 20

In [15]:
class(r)

[1] "character"

In [20]:
r=as.numeric(r)
pi=as.numeric(pi)

In [18]:
class(r)

[1] "numeric"

In [19]:
d=r*r
d

[1] 400

In [21]:
area=(pi*d)*(2*pi*r)

In [22]:
area

[1] 157753.6

In [28]:
paste("The Area of Donut: ",area,"cm")

[1] "The Area of Donut:  157753.6 cm"

In [4]:
# ceiling => for next number
# floor => for the previous number

ceiling(10.2)
floor(10.5)

[1] 11

[1] 10

In [18]:
# vectors:
a=c(10,20,30,40,50,60,70,80,90)

In [6]:
class(a)

[1] "numeric"

In [7]:
# vector element index value starts from 1 not 0
a[1]

[1] 10

In [9]:
# a[start:stop]
a[2:4]

[1] 20 30 40

In [10]:
a1=c("True","False")

In [11]:
a2=c("hello", "welcome")

In [12]:
# using list operator 
l=list(a,a1,a2)
l

[[1]]
[1] 10 20 30 40 50

[[2]]
[1] "True"  "False"

[[3]]
[1] "hello"   "welcome"

In [13]:
a

[1] 10 20 30 40 50

In [14]:
a[2] = 150

In [15]:
a

[1]  10 150  30  40  50

In [22]:
a[c(1,3)]=200

In [23]:
a

[1] 200  20 200  40  50  60  70  80  90

In [24]:
sort(a)

[1]  20  40  50  60  70  80  90 200 200

In [25]:
# replicating values:
a=rep(c(1,2,3),each=3)

In [26]:
a

[1] 1 1 1 2 2 2 3 3 3

In [27]:
a=rep(c(1,2,3),times=c(3,5,1))
a

[1] 1 1 1 2 2 2 2 2 3

In [28]:
a=rep(c(1,2,3),times=3)
a

[1] 1 2 3 1 2 3 1 2 3

Summary:
1.  Data Science
2.  why to use DS
3.  process in DS
4.  diff b/w BI and DS
5.  Domains of DS
6.  R basics: Variables
7.  Data Types - Vector and List
8.  Input from the user
9.  Area of the donut
10. list
11. vectors