# LOOPING:

## "Repeat" Looping Statement:

In [1]:
res =1
i=1
repeat
    {
    print(res)
    i=i+1            #increment operator
    res=res+1
if(i>5)              #condition
    {
    break
}
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

# Switch Statement:

In [2]:
switch(1,"add","sub","mul")
switch(2,"add","sub","mul")
switch(3,"add","sub","mul")

[1] "add"

[1] "sub"

[1] "mul"

In [3]:
case=as.integer(readline("Enter your Case:"))
switch(case,"add","sub","mul")

Enter your Case:1

[1] "add"

In [4]:
switch("color", name="xyz", age=18, dept="AIML", color="white")
switch("dept", name="xyz", age=18, dept="AIML", color="white")

[1] "white"

[1] "AIML"

# <U> Function:

                  *  A function is a set of Statements organised together to perform a specfic task.
                  *  The value that are declared within a function,when the function is called as an Arguments.
                  *  Function Parameters are the names listed in the Function definition.
                  *  Buildin Function (and) User Defined Function

## Function Syntax:

fun_name=function(parameter1,....)
    {
    statement
}
fun_name(argument1,........)

In [5]:
a=function(name)
    {
    print(name)
}
a("xyz")

[1] "xyz"

## Types of Argument:

                *Required argument
                *Default Argument
                *Keyword Argument

## Required Argument:

In [6]:
a=function(name,dept)
    {
    print(paste("name",name))
    print(paste("dept", dept))
}
a(dept="AIML",name="NANTHIESH")

[1] "name NANTHIESH"
[1] "dept AIML"

## Default Argument:

In [7]:
a=function(name,dept="MBA",age=18)
    {
    print(paste("Name:",name))
    print(paste("Dept:", dept))
    print(paste("Age:", age))
}
a("Nantheish","AIML", "18")

[1] "Name: Nantheish"
[1] "Dept: AIML"
[1] "Age: 18"

In [8]:
a=function(name,dept="MBA",age=18) # default values mentioned here will get printed if no value is given
    {
    print(paste("Name:",name))
    print(paste("Dept:", dept))
    print(paste("Age:", age))
}
a("Nantheish")

[1] "Name: Nantheish"
[1] "Dept: MBA"
[1] "Age: 18"

## Keyword Argument:

In [9]:
a=function(name,age)
    { 
     print(paste("Name:",name))
    print(paste("Age:", age))
}
a(name="nanthiesh",age=18)

[1] "Name: nanthiesh"
[1] "Age: 18"

# SIMPLE CALCULATOR USING SWITCH CASE:

In [10]:
add=function(x,y){
    return(x+y)
}
substract=function(x,y){
    return(x-y)
}
multiply=function(x,y){
    return(x*y)
}
divide=function(x,y){
    return(x/y)
}
#taking input from the user:
print("Select your Operation:")
print("1.Addition")
print("2. Subtraciton")
print("3. Multiplication")
print("4. Division")
choice=as.integer(readline("Enter your choice[1,2,3,4]"))
num1=as.integer(readline("Enter your first number:"))
num2=as.integer(readline("Enter your second number:"))
operator=switch(choice,"+","-","*", "/")
result=switch(choice, add(num1,num2), substract(num1,num2), multiply(num1,num2), division(num1,num2))
print(paste(num1, operator, num2 ,"=", result ))

[1] "Select your Operation:"
[1] "1.Addition"
[1] "2. Subtraciton"
[1] "3. Multiplication"
[1] "4. Division"
Enter your choice[1,2,3,4]1
Enter your first number:12
Enter your second number:3
[1] "12 + 3 = 15"

# Distribution:

## Normal Distribution:

       * To print random numbers we can use normal distribution and uniform distribution.
       * It makes the given number's Mean as 0 and Standard Deviation as 1

In [11]:
rnorm(3)

[1] -0.8057537  1.3447765 -0.3559967

In [13]:
rnorm(2, mean=5,sd=5)

[1]  4.450218 -2.292233

## Uniform Distribution:

In [14]:
runif(5)

[1] 0.4086104 0.8761045 0.7769902 0.9341454 0.2775723

In [15]:
runif(5,min=10, max=100)

[1] 59.76575 89.45783 30.22126 57.64538 18.81929

In [17]:
set.seed(101) # seed is used for not changing the randomly generated values
runif(5,min=10, max=100)

[1] 43.49785 13.94423 73.87156 69.19214 32.48702